p{ background-color: antiquewhite;
    font-size: large;}
    h1{
        color: blue;
        font-size: x-small;
    }
   .p-styleone-{
        border-width: 0cqi;
        border-color: blanchedalmond;
    }