.container {
    background-color:greenyellow;
    width: 100%;
    height:1000px;
}
 .blockone{
       height:100px;
       width:100px;
       margin:10px;
       padding:10px;
       display:block;
       background-color: black;

}


 @media (min-width: 600px){
    .container {
        background-color: yellow;
        width: 100%;
        height: 1000px;
    }

}

@media (min-width: 400px) and (max-width: 599px) {
    .container {
        background-color: orangered;
        width: 100%;
        height: 1000px;
    }


}

@media (min-width: 200px) and (max-width: 399px) {
    .container {
        background-color: blue;
        width: 100%;
        height: 1000px;
    }
    .blockone{
        height:100px;
        width:100px;
        margin:10px;
        padding:10px;
        display: block;
 
 }

}
