.block1 {
    height: 100px;
    width: 100%;
    background-color: blueviolet;
    display: block;
    margin: 10px;
    padding: 10px;
}

.block2 {
    height: 50px;
    width: 300px;
    background-color: skyblue;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.block3 {
    height: 50px;
    width: 300px;
    background-color: skyblue;
    display: block;
    margin: 10px;
    padding: 10px;
}

.block4 {
    height: 50px;
    width: 300px;
    background-color: skyblue;
    display: block;
    margin: 10px;
    padding: 10px;
}

.block5 {
    height: 50px;
    width: 300px;
    background-color: skyblue;
    display: block;
    margin: 10px;
    padding: 10px;

}

.block6 {
    height: 500px;
    width: 300px;
    display: inline-block;
    float: right;
    margin-top: 40px;
    background-color: skyblue;
}

.block7 {
    height: 100px;
    width: 100%;
    background-color: skyblue;
    display: block;
    margin-top: 250px;

}


/* Media Queries */
@media only screen and (max-width: 1200px) {

    /* For small desktops and laptops */
    .block1,
    .block2,
    .block3,
    .block4,
    .block5,
    .block6,
    .block7 {
        width: 80%;
        margin: 10px auto;
        /* Center blocks horizontally */
    }
}

@media only screen and (max-width: 992px) {

    /* For tablets */
    .block1,
    .block2,
    .block3,
    .block4,
    .block5,
    .block6,
    .block7 {
        width: 90%;
        margin: 10px auto;
        /* Center blocks horizontally */
    }
}

@media only screen and (max-width: 768px) {

    /* For mobile phones */
    .block1,
    .block2,
    .block3,
    .block4,
    .block5,
    .block6,
    .block7 {
        width: 100%;
        margin: 10px 0;
        /* Adjust margin for smaller screens */
    }

    .block6 {
        float: none;
        /* Disable floating for mobile layout */
        height: auto;
        /* Adjust height for block6 */
        margin-top: 20px;
        /* Adjust margin-top for block6 */
    }

    .block7 {
        margin-top: 20px;
        /* Adjust margin-top for block7 */
    }
}

@media only screen and (max-width: 576px) {

    /* For extra small devices like phones in portrait mode */
    .block1,
    .block2,
    .block3,
    .block4,
    .block5,
    .block6,
    .block7 {
        padding: 5px;
        /* Reduce padding for extra small screens */
    }
}