.block1 {
    height:100px;
    width:100%;
    background-color: blueviolet;
    display: block;
    margin: 5px;
    padding: 5px;;
}

.block2 {
    height:50px;
    width:300px;
    background-color: skyblue;
    display:inline-block;
    margin:5px;
    padding:5px;
}

.block3 {
    height:50px;
    width:300px;
    background-color: skyblue;
    display: block;
    margin: 10px;
    padding: 10px;
}

.block4 {
    height:50px;
    width:300px;
    background-color: skyblue;
    display: block;
    margin: 10px;
    padding: 10px;
}

.block5 {
    height: 50px;
    width: 300px;
    background-color: skyblue;
    display: block;
    margin: 10px;
    padding: 10px;

}

.block6 {
    height: 500px;
    width: 300px;
    display: inline-block;
    float: right;
    margin-top: 40px;
    background-color: skyblue;
}

.block7 {
    height: 100px;
    width: 100%;
    background-color: skyblue;
    display: block;
    margin-top: 250px;

}

/* i-phone 12 Pro */

@media (min-width: 360px) and (max-width: 740px) {
    .block1 {
        height: 100px;
        width: 100%;
        background-color: blueviolet;
        display: block;
        margin: 10px;
        padding: 10px;
    }
    
    .block2 {
        height: 50px;
        width:100%;
        background-color: rgb(178, 135, 235);
        display: inline-block;
        margin: 10px;
        padding: 10px;
    }
    
    .block3 {
        height: 50px;
        width:100%;
        background-color: rgb(9, 67, 90);
        display: block;
        margin: 10px;
        padding: 10px;
    }
    
    .block4 {
        height: 50px;
        width: 300px;
        background-color: rgb(188, 10, 84);
        display: block;
        margin: 10px;
        padding: 10px;
    }
    
    .block5 {
        height: 50px;
        width: 100%;
        background-color: rgb(235, 135, 135);
        display: block;
        margin: 10px;
        padding: 10px;
    
    }
    
    .block6 {
        height: 500px;
        width:100%;
        display: inline-block;
        float:right;
        margin-top:40px;
        background-color: rgb(98, 12, 12);
    }
    
    .block7 {
        height: 100px;
        width: 100%;
        background-color: rgb(162, 201, 57);
        display: block;
        margin-top: 250px;
    
    }
    

}